{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <style>
        *{
            margin:0;
            padding: 0;
            box-sizing: border-box;
        }
        .card{
            padding: 2em;
            margin-left: 300px;
            margin-right: 300px;
            margin-top: 70px;
            border: 2px solid black;
            background-color: palegreen;
            font-size: large;
            color: black;
        }
        h1{
            text-align: center;
            
        }
    </style>
    <div class="card">
        {% load crispy_forms_tags %}
    <form action="" method="post">
        <h1>Login Form</h1>
        {% csrf_token %}
        {{form|crispy}}
        <br><input type="submit" value="login" class="btn btn-primary">
        <a href="{% url 'register' %}">New user?Create account</a>
    </form>
    </div>
{% endblock %}