{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h2>Categories</h2>
    <div class="category-grid">
        {% for category in categories %}
        <div class="category-card">
            <a href="{% url 'category' category.slug %}">
                <img src="{{ category.category_image.url }}" alt="" height="200px" width="200px">
            </a>
            <h3>{{ category.category_name }}</h3>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
